img {
    width: 100%;
}

body {
    background-image: url(https://img2.goodfon.ru/wallpaper/nbig/5/1b/cvet-pyatno-relef-kraski-1624.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider {
    background-image: url(https://monacofrance.net/assets/images/AdobeStock_94584043.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 600px;
    position: relative;
    color: white;
}

.slider .opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 20px rgb(104, 255, 247);
    font-size: 55px;
}

.Link-detail {
    text-decoration: none;
    text-transform: none;
}

.animate-link {
    transition: 0.2s;
}

.animate-link:hover{
    -webkit-transform: scale(1.03); 
    transform: scale(1.03);
    opacity: 0.9;
}

.text-de {
    font-size: 17px;
    text-shadow: 0 0 3px #ff6bc1;
    color: rgb(255, 101, 101);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-item {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px rgb(110, 110, 110);
}

.con-card {
    background: linear-gradient(to right, #ff6701, #5bfaff);
}

.brand-plus {
    font-family: system-ui;
    font-weight: 600;
    margin-right: auto;
    opacity: 0.9;
    transition: 0.2s;
    font-size: 1.8rem!important;
}

.brand-plus:hover{
    text-shadow: 0 0 20px black;
    opacity: 1;
}